@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: #333; */
    font-family:'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}
header{
    color: #333;
}
header #career-head .hero-img{
    background: url("../img/career1.jpg") no-repeat center center/cover;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.hero-img::before{
    content: "";
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 50vh;
    width: 100vw;
}
.hero-img *{
    z-index: 50;
}
.hero-heading  h1{
    color: white;
    font-size: 48px;
    font-weight: lighter;
}
header #career-head{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header #career-head .hero-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f4f4f4;
}
.hero-text .hero-content,
.hero-text .hero-head{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.hero-text .hero-head{
    flex: 40%;
    font-size: 38px;
    font-weight: bolder;
}
.hero-text .hero-content{
    flex: 60%;
    padding: 40px;
    line-height: 1.6;
}
.flex-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-column .column{
    display: flex;
    flex-direction: column;
    flex: 50%;
    overflow: hidden;
}
.flex-column .column .column1,
.flex-column .column .column2{
    height: 100%;
}
.flex-column .column .column1{
    overflow: hidden;
}
.flex-column .column img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-column .column .column2{
    background-color: #0284d0;
}
.column .column2 h2{
    font-size: 36px;
    text-align: center;
    padding-top: 40px;
    font-weight: lighter;
}
.form-control{
    width: 100%;
    padding: 10px;
}
.form-control input {
    width: 70%;
    padding: 4px;
    height: 40px;
    border: black 1px solid;
    border-radius: 6px;
    margin: auto;
}
.form-control label {
    display: block;
    margin-bottom: 3px;
    text-align: left;
}

input{
    box-sizing: border-box;
    display: block;
    width: 80%;
    height: 40px;
    padding: 10px;
    margin: 5px 10px;
}
input:focus {
    outline-color:;
}
.form-control select
 {
    width: 70%;
    padding: 4px;
    height: 40px;
    border: black 1px solid;
    border-radius: 6px;
    margin: auto;
}
select{
    box-sizing: border-box;
    display: block;
    width: 80%;
    height: 40px;
    padding: 10px;
    margin: 5px 10px;
}
select:focus {
    outline-color:#0284d0;
}
.flex-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
}
#myFile{
    border: none;
    padding: 5px;
}
.form-control .btn {
    padding: 10px 0;
    margin-top: 10px;
    width: 30%;
    background-color: #333;
    color: #ffffff;
}
.form-control .btn1{
    width: 40%;
}
.cnt1 label{
    margin-left: 50px;
}
@media(max-width:768px)
{
    header #career-head .hero-text{
        flex-direction: column;
    }
    .hero-text .hero-content{
        overflow: visible;
        padding: 20px;
        line-height: 1.4;
    }
    .hero-text .hero-head{
        font-size: 36px;
        overflow: visible;
        margin-top: 10px;
    }
    .flex-column{
        flex-direction: column;
    }
    .flex-btn{
        flex-direction: column;
    }
    .cnt1 label{
        margin-left: 80px;
    }
    .flex-btn{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
 /* footer */
 footer{
     color: #ffffff;
 }
 .foot-container{
    background-color: #444444;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}
.columns{
    padding: 60px;
    text-align: center;
    line-height: 1.5;
}
.columns h4{
    margin-bottom: 10px;
}
.columns p{
    margin-bottom: 10px;
}
.columns button{
    background-color: #9fb6cc;
    padding: 10px 30px;
    border: 1px solid #9fb6cc;
    margin-top: 20px;
    color: #ffffff;
}

.columns button:hover{
    background-color:black;

}
.columns .connect{
    display: flex;
    flex-direction: column;
}
.foot-container .columns .social {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
.foot-container .columns .social i{
    color: #ffffff;
}
.foot-container .columns .social i:hover{
    color: #9fb6cc;
}
.social-icon{
    padding: 20px;
}
.subs{
    display: flex;
    flex-direction: row;
}
.subs button{
    padding: 5px 5px;
    padding-bottom: 3px;
    height: 50px;
}
.columns input{
    height: 50px;
    width: 70%;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 0;
    padding-left: 5px;
    border: 1px solid #9fb6cc;
}
@media(max-width:768px)
{
    .foot-container{
    flex-direction: column;
    }
    .subs button{
    margin-right:40px ;
    }
    .columns input{
     margin-left: 40px;

    }
}


input::-webkit-file-upload-button {
  background-color: #374045;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  position: absolute;
}
