@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto Condensed', sans-serif;
}
body{
    overflow-x: hidden;
}

/* navbar */
#Home{
    position: relative;
    width: 100%;
    color:#fff;
  }
  .navbar{
   top:0;
   width: 100%;
   overflow: hidden;
   background-color: #1b262c;
   opacity: 0.8;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: 0.5s;
   z-index: 100;
  }
  /* .top{
    background: transparent;
  }  */
  .logo{
    display: inline-block; 
    padding: 10px 30px;
    font-weight: 400;
  }
   .logo img{
      display: inline;
      float: left;
      margin-top: 0px;
  } 
  .logo h1{
      display: inline-block;
  }
  /* .navbar .menu li a:hover{
    border-bottom: 2px solid  #0284d0;
  }  */
  .menu ul{
    display: flex;
    flex-direction: row;
  }
  .menu li{
    list-style: none;
    overflow-y: hidden;
  }
  .menu li a{
    text-decoration: none;
    color: #f4f4f4;
    padding: 0px 20px;
    margin: 0px 5px;
    font-size: large;
  }
  .menu li a:hover{
    border-left: 3px solid  #3282b8;
    border-right: 3px solid  #3282b8;
  }
  .menu li a:active{
    border: 3px solid  #3282b8;
  }

  @media(max-width:768px){
    .navbar{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu{
        margin-bottom: 20px;
    }
    .menu li a{
        padding: 5px;
        margin:0 3px;
    }
    
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column; 
    margin-top: 35px;
    /* background-color: cadetblue; */
}
.container .row{
    width: 100%;
}
.container .first{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 80vh;
}
.container .second{
     height: 40px;
    width: 100vw; 
    background-color:#3282b8;
}
.container .row  .one{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    padding: 70px 100px;
}
.container .column p{
    margin-bottom: 20px;
}
.container .column h3{
    text-align: left;
    margin-bottom: 10px;
}
.container .column a{
    margin:5px;
    text-decoration: none;
    color: #333;
}
.container .column i{
    margin-right: 10px;
}

.container .row .two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin-top: 70px;
    margin-right: 150px; 
    height:480px;
    width: 450px; 
    /* width: 40%;
    height: 100%; */
    z-index: 10;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.container input[type=text], select,textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    
}
textarea {
   
    height: 120px;
    margin-bottom: 20px;
    
}
  
.container input[type=submit] {
    background-color:#3282b8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
.container input[type=submit]:hover {
    opacity: 0.8;
  }
  @media(max-width:768px){
    .container .first{
        flex-direction: column;
        height:inherit;
    }
      .container .row  .one{
        width: 100%;
        padding: 70px 50px;
    }
    .container  .row .two{
       
        width: 100%;
        border-radius: 10px;
        padding: 40px;
        margin-top: 30px;
        z-index: 10;
        border-radius: 10px;
    }
    .container .second{
      height: 0px;
 }
  }
  /* footer */
  footer
  {
      width: 100vw;
  }
.foot-container{
    background-color: #1b262c;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}
footer .column{
    padding: 60px;
    text-align: center;
    line-height: 1.6;
}
footer .first button {
    background-color: #3282b8;
    padding: 10px 30px;
    border: 1px solid #3282b8;
    margin-top: 20px;
    color: #f4f4f4;
}

footer .column button:hover{
    background-color:black;
    
}
footer .column .connect{
    display: flex;
    flex-direction: column;
}
.foot-container .column .social {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
.foot-container h4{
    margin-bottom: 20px;
}
.foot-container .column .social i{
    color: #ffffff;
}
.foot-container .column .social i:hover{
    color: #3282b8;
}
.social-icon{
    padding: 20px;
}
.subs{
    display: flex;
    flex-direction: row;
}
.subs button{
    padding: 5px 10px;
    margin-right:20px ;
    background-color: #3282b8;
    border: 1px solid #3282b8;
    margin-top: 20px;
    color: #f4f4f4;
}
footer .column input{
    height: 50px;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 5px;
    border: 1px solid #3282b8;
}
@media(max-width:768px)
{
    .foot-container{
    flex-direction: column;
    }
    .subs button{
    margin-right:40px ;
    } 
   footer .column input{
     margin-left: 40px;
    
}
}
/* chat-bot */
.open-button {
    background-color:#ffffff;
    color: white;
    padding: 15px 15px 10px 15px;
    border: none;
    border-radius: 60%;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    z-index: 60;
  }
  .open-button i{
      color: #3282b8;
  }
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f4f4f4;
    z-index: 60;
  }
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 20px;
    margin: 2px;
    background-color: #3282b8;
    border-radius: 10px;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0px 22px 0;
    border: none;
    background: #ffffff;
    resize: none;
    min-height: 200px;
  }
  
  .form-container textarea:focus {
    background-color: #f4f4f4;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #3282b8;
    color: white;
    padding: 10px 16px;
    border: 2px solid #f4f4f4; 
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 5px;
  }
  
  
  .form-container .cancel {
    background-color: #3282b8;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  @media(max-width:768px)
  {
    .open-button {
        background-color:#333;
        color: white;
      }
      .open-button i{
        color: white;
    }
  }