


body, h1, h2, h3, h4, h5, h6, p, ul, li, ol {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


.div{
  overflow: hidden;
}

.header-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
  background: #9fb6cc;
  padding: 21px 40px 0 24px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all ease 1s;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  line-height: 1.5;
  height: 2000px;
}

#header {
  position: absolute;
  width: 100%;
}

/*----------------------------- sticky navbar----------------------------- */
.header-1.fixedbar {
  position: fixed !important;
  background: #add8e6;
  padding: 10px 40px 0 24px;
}

.logo {
  float: left;
  width: 100%;
  margin-top: 6px;
  text-align: left;
  padding: 0 0 25px;
}

.logo img {
  max-width: 29%;
  height: auto;
}

.mainmenu {
  position: relative;
}

.mainmenu ul {
  margin: 0;
  padding: 0;
}

.mainmenu ul li {
  list-style: none;
  display: inline-block;
  line-height: 0.8;
  padding: 10px 0px 10px;
  position: relative;
}

.mainmenu ul li a {
  display: block;
  color: black;
  font-size: 17px;
  line-height: 0.8;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  padding: 0px;
  letter-spacing: 1px;
}

.mainmenu ul li a:after {
  position: absolute;
  width: 0;
  height: 1px;
  content: '';
  background: white;
  left: 0;
  right: 0;
  bottom: -5px;
  transition: all 0.4s ease-out;
}

.mainmenu ul li a:hover {
  color: white;
}

.mainmenu ul li a:hover:after {
  width: 100%;
}

.navigator {
  position: relative;
  padding: 21px 0 12px;
}

.navigator a {
  display: inline-block;
  color: white;
  line-height: 0.8;
  font-size: 25px;
  margin: 0;
}

.navigator a.search {
  margin-top: 5px;
}

.fixedHeader {
  background: #000;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background: url(..//image/bg-main.jpg) 0 0 no-repeat;
  background-size: cover;
  height: 105vh;
  overflow: hidden;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.myslides {
  width: 50%;
}

.myslides h2 {
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 10px;
  /* font-weight: 800; */
  line-height: 1;
  position: absolute;
  top: 213px;
  left: 132px;
  z-index: 10;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

.myslides h2 span {
  display: block;
  text-align: right;
  font-size: 22px;
  letter-spacing: 20px;
  text-transform: capitalize;
  padding-right: 20px;
}

.myslides .p_img {
  display: block;
  width: auto;
  height: 500px;
  position: relative;
  z-index: 20;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: slideInRight;
}

.myslides {
  padding-top: 190px;
  margin-left: 89px;
}

.p_detail {
  width: 50%;
  float: left;
}

.p_img {
  padding-left: 55px;
  padding-top: 55px;
  font-size: 20px;
}

.myslides .p_detail {
  width: 402px;
  position: absolute;
  top: 108px;
  right: 104px;
  z-index: 30;
}

.myslides .p_detail p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
  letter-spacing: 1px;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: slideInRight;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 767px) {
  .myslides {
    padding-top: 30px;
  }

  .myslides h2 {
    width: fit-content;
    font-size: 50px;
    letter-spacing: 10px !important;
    position: relative;
    top: 0;
    left: 20px;
  }

  .myslides .p_img {
    height: 176px;
    left: 20px;
  }

  .myslides .p_detail {
    width: 100%;
    position: relative;
    top: -130px;
    right: 0;
    padding: 60px 50px 30px;
  }

  .myslides .p_detail a {
    padding: 2px 6px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .myslides {
    padding-top: 50px;
    padding-bottom: 120px;
    z-index: 5;
  }

  .myslides h2 {
    font-size: 80px;
    letter-spacing: 10px;
    top: 40px;
    left: 50px;
  }

  .myslides h2 span {
    font-size: 20px;
    letter-spacing: 17px;
    ;
    padding-right: 15px;
  }

  .myslides .p_img {
    height: 200px;
  }

  .myslides .p_detail {
    width: 350px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 30;
  }
}

.my-mfp-slide-bottom .zoom {
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

.my-mfp-slide-bottom.mfp-ready .zoom {
  opacity: 1;
  transform: translateY(0) perspective(37.5rem) rotateX(0deg);
}

.parallax-setting {
  background-image: url(..//image/parallax4.jpg);
  padding: 150px 150px;
  background-attachment: fixed;
}

.parallax-setting h2 {
  font-size: 45px;
  font-weight: 400;
}

.parallax-setting a {
  background: #00bcd4;
  padding: 14px 35px;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}

.parallax-setting a:hover {
  border: 2px solid #00bcd4;
  text-decoration: none;
  background: transparent;
}

.flipster-carousel {
  display: none;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
}

.flip-item {
  width: 420px;
}

.flip-item .item-inner {
  padding: 2rem;
  border: 1px solid #efefef;
  background: white;
}

.flip-item .source-profile {
  width: 80px;
  height: 80px;
}

.flip-item .source-info {
  font-size: 1rem;
  margin-left: 20px;
}

.pt-5 a {
  padding: 12px 30px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #00c9db;
  color: #00c9db;
  font-family: 'Roboto Condensed', sans-serif;
}

/* back to top button */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: #00c9db;
  color: white;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 6px;
  border-radius: 4px;
}

/* our services-1 */
.service-area {
  margin-top: -10px;
  background: #a2d9ff;
}

.service-area p {
  margin-bottom: -5px;
}

.service-wrap {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 25px 35px;
  position: relative;
  transition: all 0.5s ease 0s;
  z-index: 9;
  margin-top: 20px;
}

.service-wrap::before, .service-wrap::after {
  content: "";
  height: 300%;
  position: absolute;
  transform: rotate(45deg);
  width: 120%;
  z-index: -9;
  transition: all 0.5s;
  opacity: 0;
  background: #34495e;
}

.service-wrap::before {
  top: -37px;
  left: 100%;
}

.service-wrap:hover:before {
  left: -27px;
  opacity: 1;
}

.service-wrap::after {
  right: 100%;
  bottom: -37px;
}

.service-wrap:hover:after {
  right: -27px;
  opacity: 1;
}

.service-wrap:hover {
  color: white;
}

.service-wrap:h3 {
  color: white;
}

.service-wrap:hover h3 {
  color: white;
}

.service-wrap:hover h3:after {
  background-color: white;
}

.service-icon i {
  font-size: 30px;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.service-wrap:hover .service-icon i {
  transform: rotate(360deg);
}

.service-wrap h3 {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 15px;
  position: relative;
}

.service-wrap p {
  font-size: 14px;
  margin-bottom: 0;
}

.service_section {
  background: black;
}

/* contact form */
.contact {
  position: relative;
  padding-bottom: 100px;
}

.contact {
  position: relative;
  padding-bottom: 100px;
}

.contact .section-heading {
  margin-bottom: 70px;
  color: white;
  font-weight: bold;
}

.contact .part-top {
  position: relative;
  background-attachment: fixed;
  padding-top: 130px !important;
  padding-bottom: 150px !important;
}

.contact .part-bottom {
  position: relative;
  z-index: 2;
  margin-top: -150px;
}

.part-top {
  background-image: url(../image/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact .contact-form {
  position: relative;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 50px 30px;
}

.contact .contact-form h4 {
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 30px;
}

.contact .contact-form .help-block li {
  color: #9fb6cc;
  font-size: 12px;
}

.contact .box-info {
  position: relative;
  -webkit-box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 50px 30px;
  height: 100%;
}

.contact .box-info>p, .contact-form>p {
  margin-bottom: 30px;
  font-size: 15px;
}

.contact .box-info h4 {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 30px;
}

.contact .box-info p {
  color: #fff;
}

.contact .box-info .item {
  position: relative;
  display: -webkit-box;
  display: flex;
}

.contact .box-info .item i {
  color: #fff;
  font-size: 30px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 15px;
}

.contact .box-info .item h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.contact .box-info .item h5 span {
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
}

.contact .box-info .item h5 a {
  color: inherit;
}

.contact .box-info .social-icon {
  position: relative;
}

.contact .box-info .social-icon a {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 29px;
  font-size: 14px;
  margin-right: 5px;
  transition-property: box-shadow, background, -webkit-box-shadow;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  display: inline-block;
  margin-top: 5px;
}

.contact .box-info .social-icon a:hover {
  opacity: 0.8;
}

.facebook {
  background: #4c6ecd;
  border-color: #4c6ecd;
}

.twitter {
  background: #44acfe;
  border-color: #44acfe;
}

.dribbble {
  background: #9fb6cc;
  border-color: #9fb6cc;
}

.linkedin {
  background: #4477ab;
  border-color: #4477ab;
}

.form-control {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  height: 45px;
  font-size: 14px;
  padding: 0;
  color: #222;
  text-indent: 15px;
  background-image: none;
  border-radius: 30px;
  box-shadow: none;
  font-weight: 300;
  line-height: 45px;
  padding-right: 10px;
  padding-left: 10px;
}

.form-control:focus {
  outline: 0;
  outline: none;
  box-shadow: none;
}

#contact-form .button {
  background-color: #9fb6cc;
  padding: 10px 30px;
  border-radius: 50px;
  color: #fff;
  margin-top: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

textarea.form-control {
  height: 250px;
  resize: none;
}

.contact .box-info {
  background-color: #9fb6cc;
}

#contact-form .button:hover, #contact-form .button:focus {
  background-color: #000;
  border-color: #000;
}

/* counters */
#why-us {
  padding: 60px 0;
  background: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#why-us .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}

/* counter starts here */
body {
  /* background: #fff; */
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #ecf5ff;
}

/* About Us Section
--------------------------------*/
#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

#why-us {
  padding: 60px 0;
  background: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#why-us .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}

/* community section */
.community {
  color: #fff !important;
}

.community-heading {
  color: #fff !important;
}

/* footer section */
/* footer */
footer {
  color: #ffffff;
}

.foot-container {
  background-color: #444444;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.columns {
  padding: 60px;
  text-align: center;
  line-height: 1.5;
}

.columns h4 {
  margin-bottom: 10px;
}

.columns p {
  margin-bottom: 10px;
}

.columns button {
  background-color: #9fb6cc;
  padding: 10px 30px;
  border: 1px solid #9fb6cc;
  margin-top: 20px;
  color: #ffffff;
}

.columns button:hover {
  background-color: black;
}

.columns .connect {
  display: flex;
  flex-direction: column;
}

.foot-container .columns .social {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.foot-container .columns .social i {
  color: #ffffff;
}

.foot-container .columns .social i:hover {
  color: #9fb6cc;
}

.social-icon {
  padding: 20px;
}

.subs {
  display: flex;
  flex-direction: row;
}

.subs button {
  padding: 5px 5px;
  padding-bottom: 3px;
  height: 50px;
}

.columns input {
  height: 50px;
  width: 70%;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 0;
  padding-left: 5px;
  border: 1px solid #9fb6cc;
}

@media(max-width:768px) {
  .foot-container {
    flex-direction: column;
  }

  .subs button {
    margin-right: 40px;
  }

  .columns input {
    margin-left: 40px;
  }
}

input::-webkit-file-upload-button {
  background-color: #374045;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  position: absolute;
}

/* top of homepage */
.one {
  height: 27rem;
}

.one h2 {
  font-size: 5rem;
margin: 12rem 0rem 0rem 8rem;

}

.two {
  height: 23rem;
  padding: 123px;
}

.three p {
  padding: 5rem;
margin: -8rem 0rem 0px 5rem;
}

.three {
  height: 23rem;
}


/* project section */
.latest-project-area
{
    margin-top: 40px;
}

.latest-project-wrap
{

    box-shadow: 0px 3px 10px rgba(0,0,0,.1);

}

.project-section{
  background-color: blueviolet;
}

.project-img
{
    position: relative;
    margin-top: -20px;
}

.project-section h2{
  margin-top: 20px;
}

.project-img:before
{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #000;
    content:"";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;

}


.latest-project-wrap:hover .project-img:before
{
    opacity: .5;
    transform: scale(1);

}




.deat span
{
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;

}


.project-content
{
    padding: 20px;
    margin-left:3px;
}



.project-content  i
{
    font-size: 18px;
    display: inline-block;

}


.project-content .fa
{
    padding: 10px 10px;
    cursor: pointer;

}


.project-content .fa-facebook
{
    color: #3b5995;

}

.project-content .fa-twitter
{
    color: #0084b4;

}

.project-content .fa-linkedin
{
    color: #0077b5;

}


.project-content .fa-youtube
{
    color: red;

}
.project-content .fa-whatsapp
{
    color: #34af23;

}

.project-content p
{
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 20px;

}

.project-content a
{
    font-size: 14px;
    background-color: #34495e;
    padding: 10px 20px;
    color: white;
    transition: all 0.5s  ease-in;
}

.project-content a:hover
{
    font-size: 14px;
    border: 1px solid #34495e;
    border-top-right-radius: 20px;
    background-color: transparent;
    color: #34495e;
    margin-right: 0;
    text-decoration: none;


}

.row::after{
   content: "";
   clear: both;
   display: table;
}

.col-md-4{
  float: left;
  width: 33.3%;
  padding: 5px;
  padding-bottom: 15px;
}


@media (max-width: 768px){
  .col-md-4{
    width: 80%;
    margin-left: 45px;
    margin-bottom: 20px;
  }
}

/* vision and mission */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav {
  display: block;
  width: 100vw;
}

.nav>ul {
  display: block;
  width: 100%;
  text-align: center;
}



body {
    margin: 0px auto;
  text-align: center;

}


/* top homepage */

.mobile-app-banner{

    background-image: url(img/slider9.jpg.png);
    background-size: cover;
    background-position: center;
    height: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.mobile-app-banner-content{

    color: white;
    margin-top: 220px;

}

.mobile-app-banner-content h1{

    font-size: 56px;
    color: white;
    font-weight: 600;

}


.mobile-app-banner-content p{
    font-size: 18px;
    color: white;
    line-height: 40px;
    margin: 30px 0px;
}






/* About Us Section
--------------------------------*/

#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}









/*
  Theme Name: NewBiz
  Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  position: relative;
  background: url("../img/intro-bg.png") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
}

#intro .intro-img {
  width: 50%;
  float: right;
}

#intro .intro-info {
  width: 50%;
  float: left;
}

#intro .intro-info h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#intro .intro-info h2 span {
  color: #74b5fc;
  text-decoration: underline;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#intro .intro-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

#intro .intro-info .btn-services {
  border: 2px solid #fff;
}

#intro .intro-info .btn-services:hover {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #004289;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #007bff;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #ecf5ff;
}

/* About Us Section
--------------------------------*/

#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/* Services Section
--------------------------------*/

#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#services .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#services .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
}

#services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #007bff;
}

#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

#why-us {
  padding: 60px 0;
  background: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#why-us .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}

/* Portfolio Section
--------------------------------*/

#portfolio {
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ecf5ff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #007bff;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #007bff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #3395ff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #003166;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #007bff;
}

/* Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

#team .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: 50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #007bff;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#clients .clients-wrap {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}

#clients .client-logo {
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#clients .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#clients img {
  transition: all 0.4s ease-in-out;
}

/* Contact Section
--------------------------------*/

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}

#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #why-us .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}

/* landing page */
.home-bg{
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0; 
  background: url("../img/home-showcase2.png") no-repeat center center/cover;
}
.home-bg::before{
  content: "";
  top: 0;
  left: 0; 
  background: rgba(255,255,255,0.6);
  position: absolute;
  height: 103vh;
  width: 100vw;
} 
.home-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #003166;
  padding: 50px 200px;
}
.home-content h1{
  padding-bottom: 2px;
  z-index: 50;
  font-size: 55px;
  line-height: 1.2;
}
.home-content h4{
  font-size: 40px;
  z-index: 50;
  font-weight: 100;
}
.home-content p{
  z-index: 50;
}
.mybtn{
  padding: 12px 20px;
  border-radius: 50px;
  background: #00366f;
  color: #ffffff;
  z-index: 50;
}
.mybtn:hover{
  color: #ffffff;
  opacity: 0.8;
}
@media(max-width:768px){
  .home-content{
    padding: 20px 50px;
  }
}