*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* PROJECT HEAD */
header #project-head .hero-img{
    background: url("../img/projecthead.jpg") no-repeat center center/cover; 
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.hero-img::before{
    content: "";
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 50vh;
    width: 100vw;
}
.hero-img *{
    z-index: 50;
}
.hero-heading  h1{
    color: white;
    font-size: 48px;
    font-weight: lighter;
}
header #project-head{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header #project-head .hero-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f4f4f4;
}
.hero-text .hero-content,
.hero-text .hero-head{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.hero-text .hero-head{
    flex: 40%;
    font-size: 38px;
    font-weight: bolder;
}
.hero-text .hero-content{
    flex: 60%;
    padding: 40px;
    line-height: 1.6;
}
h3.stuff{
    font-size: 44px;
    color: #333333;
    font-weight: bold;
}

/* PROJECTS BODY */

/* PROJECTS - ODD*/
.project-content{
    margin-left: -100px;
}

.image{
    height: 416px;
    width: 370px;
    margin-left: 80px;
}

p.odd{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    text-align: right;
    box-sizing: inherit;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    position: relative;
    z-index: 2;
    padding: 25px;
    background-color: rgb(23, 42, 69);
    color: rgb(168, 178, 209);
    font-size: 20px;
    border-radius: 3px;
}

h3{
    text-align: right;
    color: darkcyan;
}

.project-img{
    background-color: lightblue;
}

.project-tech{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    text-align: right;
    box-sizing: inherit;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 25px 0px 10px;
    list-style: none;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

li{
   line-height: 1.3;
   list-style: none;
   font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
   font-size: 18px;
   color: darkcyan;
   margin-bottom: 7px;
   white-space: nowrap;
   margin-left: 20px;
   margin-right: 0px;
}

svg{
    width: 25px;
    height: 25px;
    margin-left: 540px;
}

/* PROJECTS - EVEN */
.project-content-2{
    margin-left: -30px;
}

.image-2{
    height: 430px;
    width: 370px;
    margin-left: 85px;
}

.project-img-2{
    background-color: lightblue;
    margin-top: -430px;
    margin-left: 520px;
}

h3.even{
    margin-left: 12px;
}

p.even{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    text-align: right;
    box-sizing: inherit;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    position: relative;
    z-index: 2;
    padding: 25px;
    background-color: rgb(23, 42, 69);
    color: rgb(168, 178, 209);
    font-size: 20px;
    border-radius: 3px;
}

.project-tech-2{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    margin-left: -10px;
    text-align: left;
    box-sizing: inherit;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 25px 0px 10px;
    list-style: none;
    -webkit-box-pack: end;
    justify-content: flex-start;
}


.svg2{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 576px){
    .project-img{
        width: 300px;
        height: 400px;
    }
    .image{
        display: none;
    }
    .project-content{
        margin-left: 20px;
        margin-top: -420px;
        width: 600px;
    }
    li{
        font-size: 15px;
        white-space: nowrap;
        margin-left: 20px;
        margin-right: 0px;
    }
    svg{
         width: 25px;
         height: 25px;
         margin-left: 400px;
    }
    .project-img-2{
        margin-left: 250px;
    }
    .image-2{
        display: none;
    }
    .project-content-2{
        margin-left: 5px;
    }
}

@media (min-width:576px) and (max-width:768px){
    .project-img{
        height: 400px;
        margin-left: 20px;
    }
    .image{
        display: none;
    }
     .project-content{
        margin-left: 130px;
        margin-top: -440px;
    }
     li{
        font-size: 13px;
        white-space: nowrap;
        margin-left: 20px;
        margin-right: 0px;
    }
    svg{
         width: 25px;
         height: 25px;
         margin-left: 370px;
    }
    .project-img-2{
        margin-left: 270px;
    }
    .image-2{
        display: none;
    }
    
}

@media (max-width: 768px){
    header #project-head .hero-text{
        flex-direction: column;
    }
    .hero-text .hero-content{
        overflow: visible;
        padding: 20px;
        line-height: 1.4;
    }
    .hero-text .hero-head{
        font-size: 36px;
        overflow: visible;
        margin-top: 10px;
    }
}


 /* footer */
 footer{
    color: #ffffff;
}
.foot-container{
   background-color: #444444;
   color: #ffffff;
   display: flex;
   flex-direction: row;
}
.columns{
   padding: 60px;
   text-align: center;
   line-height: 1.5;
}
.columns h4{
   margin-bottom: 10px;
}
.columns p{
   margin-bottom: 10px;
}
.columns button{
   background-color: #9fb6cc;
   padding: 10px 30px;
   border: 1px solid #9fb6cc;
   margin-top: 20px;
   color: #ffffff;
}

.columns button:hover{
   background-color:black;
   
}
.columns .connect{
   display: flex;
   flex-direction: column;
}
.foot-container .columns .social {
   display: flex;
   flex-direction: row;
   color: #ffffff;
   align-items: center;
   justify-content: center;
}
.foot-container .columns .social i{
   color: #ffffff;
}
.foot-container .columns .social i:hover{
   color: #9fb6cc;
}
.social-icon{
   padding: 20px;
}
.subs{
   display: flex;
   flex-direction: row;
}
.subs button{
   padding: 5px 5px;
   padding-bottom: 3px;
   height: 50px;
}
.columns input{
   height: 50px;
   width: 70%;
   margin-left: 30px;
   margin-top: 20px;
   margin-right: 0;
   padding-left: 5px;
   border: 1px solid #9fb6cc;
}

@media(max-width:768px)
{
    .foot-container{
    flex-direction: column;
    }
    .subs button{
    margin-right:40px ;
    } 
    .columns input{
     margin-left: 40px;
    
    }
}
