@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

/* NAVBAR */

#Home{
    position: relative;
    width: 100%;
    color:#fff;
  }

  .navbar{
   top:0;
   width: 100%;
   overflow: hidden;
   background-color: #333;
   opacity: 0.8;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: 0.5s;
   z-index: 10;
  }

  .top{
    background: transparent;
  } 

  .logo{
    display: inline-block; 
    padding: 10px 30px;
    font-weight: 400;
  }

   .logo img{
      display: inline;
      float: left;
      /* margin-top: -10px; */
  } 

  .logo h1{
      display: inline-block;
      font-size: 32px;
  }

  .menu ul{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  .menu li{
    list-style: none;
    overflow-y: hidden;
  }

  .menu li a{
    text-decoration: none;
    color: #f4f4f4;
    padding: 0px 20px;
    margin: 0px 5px;
    font-size: large;
  }

  .menu li a:hover{
    border-right: 3px solid  #0284d0;
    border-left: 3px solid  #0284d0;
    border-bottom: none;
  }

  @media(max-width:768px){
    .navbar{
        flex-direction: column;
    }
    .menu{
        margin-top: -20px;
    }
    .menu li a{
        padding: 5px;
        margin:0 3px;
    }
    
}

/* PROJECTS SECTION */

section{
    color: #333;
}

section #project-head .hero-img{
    background: url("../img/projecthead1.jpg") no-repeat center center/cover;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.hero-img::before{
    content: "";
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 50vh;
    width: 100vw;
}
.hero-img *{
    z-index: 50;
}
.hero-heading  h1{
    color: white;
    font-size: 48px;
    font-weight: lighter;
}
section #project-head{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
section #project-head .hero-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f1f3f8;
}
.hero-text .hero-content,
.hero-text .hero-head{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.hero-text .hero-head{
    flex: 40%;
    font-size: 38px;
    font-weight: bolder;
}
.hero-text .hero-content{
    flex: 60%;
    padding: 40px;
    line-height: 1.6;
}

.hero-head h3{
    color: #333333;
    font-size: 44.6px;
    font-weight: bold;
}

@media(max-width:768px)
{
    section #project-head .hero-text{
        flex-direction: column;
    }
    .hero-text .hero-content{
        overflow: visible;
        padding: 20px;
        line-height: 1.4;
        overflow-y: hidden;
    }
    .hero-text .hero-head{
        font-size: 36px;
        overflow: visible;
        margin-top: 10px;
    }

    .hero-head h3{
        margin-top: 10px;
    }

    .hero-heading h1{
        margin-top: 30px;
    }
}

/* PROJECTS BODY */

/* PROJECTS - ODD*/
.project-content{
    margin-left: -100px;
}

.image{
    height: 416px;
    width: 370px;
    margin-left: 80px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

p.odd{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    text-align: right;
    box-sizing: inherit;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    position: relative;
    z-index: 2;
    padding: 25px;
    background-color: #393b44;
    color: rgb(168, 178, 209);
    font-size: 20px;
    border-radius: 3px;
}

h3{
    text-align: right;
    color: #8d93ab; 
}

.project-img{
    background-color: #d6e0f0;
}

.project-tech{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    text-align: right;
    box-sizing: inherit;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 25px 0px 10px;
    list-style: none;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

li{
   line-height: 1.3;
   list-style: none;
   font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
   font-size: 18px;
   color: #8d93ab;
   margin-bottom: 7px;
   white-space: nowrap;
   margin-left: 20px;
   margin-right: 0px;
}

svg{
    width: 25px;
    height: 25px;
    margin-left: 540px;
   
}

  .read{
    position: relative;
    width: 20%;
    overflow-y: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .read:hover .image {
    opacity: 0.3;
  }
  
  .read:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: white;
    color: #8d93ab;
    font-size: 16px;
    padding: 16px 32px;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 100px;
  }

  .text:hover{
    background: #393b44;
    color: #ffffff;
  }

/* PROJECTS - EVEN */
.project-content-2{
    margin-left: -30px;
}

.image-2{
    height: 430px;
    width: 370px;
    margin-left: 85px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-img-2{
    background-color: #d6e0f0;
    margin-top: -430px;
    margin-left: 520px;
}

h3.even{
    margin-left: 12px;
    color: #8d93ab;
}

p.even{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    text-align: right;
    box-sizing: inherit;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    position: relative;
    z-index: 2;
    padding: 25px;
    background-color: #393b44;
    color: rgb(168, 178, 209);
    font-size: 20px;
    border-radius: 3px;
}

.project-tech-2{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    margin-left: -10px;
    text-align: left;
    box-sizing: inherit;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 25px 0px 10px;
    list-style: none;
    -webkit-box-pack: end;
    justify-content: flex-start;
}


.svg2{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
 
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .read:hover .image-2 {
    opacity: 0.3;
  }

/* MEDIA QUERIES - PROJECT BODY */

@media(max-width: 576px){
    .project-img{
        width: 300px;
        height: 400px;
        margin-left: 15px;
    }
    .image{
        display: none;
    }
    .project-content{
        margin-left: 20px;
        margin-top: -420px;
        width: 600px;
    }
    li{
        font-size: 15px;
        white-space: nowrap;
        margin-left: 20px;
        margin-right: 0px;
    }
    svg{
         width: 25px;
         height: 25px;
         margin-left: 400px;
    }
    .project-img-2{
        margin-left: 200px;
        width: 300px;
    }
    .image-2{
        display: none;
    }
    .project-content-2{
        margin-left: -30px;
    }
}

@media (min-width:576px) and (max-width:768px){
    .project-img{
        height: 400px;
        margin-left: 20px;
    }
    .image{
        display: none;
    }
     .project-content{
        margin-left: 130px;
        margin-top: -440px;
    }
     li{
        font-size: 13px;
        white-space: nowrap;
        margin-left: 10px;
        margin-right: 0px;
    }
    svg{
         width: 25px;
         height: 25px;
         margin-left: 380px;
    }
    .project-img-2{
        margin-left: 250px;
        height: 400px;
    }
    .image-2{
        display: none;
    }

    .project-img-2{
        margin-top: -450px;
    }

    .read:hover .image {
        visibility: hidden;
    }

    .read:hover .middle{
        visibility: hidden;
    }

    .middle{
        visibility: hidden;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .project-img{
        height: 500px;
        margin-left: 20px;
    }
    .image{
        display: none;
    }
    .project-content{
        margin-left: 190px;
        margin-top: -500px;
        width: 600px;
        height: 300px;
    }

    li{
        font-size: 15px;
        white-space: nowrap;
        margin-left: 10px;
        margin-right: 0px;
    }

    svg{
         width: 25px;
         height: 25px;
         margin-left: 430px;
    }
    
    .project-img-2{
        margin-left: 330px;
        height: 500px;
        margin-top: -300px;
    }
    .image-2{
        display: none;
    }

    .project-content-2{
        height: 300px;
    }

    /* .project-img-2{
        margin-top: -300px;
    } */

    .read:hover .image {
        visibility: hidden;
    }

    .read:hover .middle{
        visibility: hidden;
    }

    .middle{
        visibility: hidden;
    } 
} 

 /* footer */
 footer{
    color: #ffffff;
}
.foot-container{
   background-color: #393b44;
   color: #ffffff;
   display: flex;
   flex-direction: row;
}
.columns{
   padding: 60px;
   text-align: center;
   line-height: 1.5;
}
.columns h4{
   margin-bottom: 10px;
   font-size: 16px;
}
.columns p{
   margin-bottom: 10px;
   font-size: 16px;
}
.columns button{
   background-color: #d6e0f0;
   padding: 10px 30px;
   border: 1px solid #bbe1fa;
   margin-top: 20px;
   color: #ffffff;
}

.columns button:hover{
   background-color:black;
   
}
.columns .connect{
   display: flex;
   flex-direction: column;
}
.foot-container .columns .social {
   display: flex;
   flex-direction: row;
   color: #ffffff;
   align-items: center;
   justify-content: center;
}
.foot-container .columns .social i{
   color: #ffffff;
}
.foot-container .columns .social i:hover{
   color: #9fb6cc;
}
.social-icon{
   padding: 20px;
}
.subs{
   display: flex;
   flex-direction: row;
   font-size: 13px;
}
.subs button{
   padding: 5px 5px;
   padding-bottom: 3px;
   height: 50px;
   font-size: 13px;
}
.columns input{
   height: 50px;
   width: 70%;
   margin-left: 30px;
   margin-top: 20px;
   margin-right: 0;
   padding-left: 5px;
   border: 1px solid #9fb6cc;
}

.columns button{
    background-color: #d6e0f0;
    border: 1px solid #bbe1fa;
    margin-top: 20px;
    color: #ffffff;
    font-size: 13px;
}

/* MEDIA QUERIES FOOTER */
@media(max-width:768px)
{
    .foot-container{
    flex-direction: column;
    }
    .subs button{
    margin-right:40px ;
    } 
    .columns input{
     margin-left: 40px;
    
    }
}




