@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

:root {
    /* --dark-green: #9cc675; */
    --dark-green: #8d93ab;
}

/* NAVBAR */

#Home{
  position: relative;
  width: 100%;
  color:#fff;
}

.navbar{
 top:0;
 width: 100%;
 overflow: hidden;
 background-color: #333;
 opacity: 0.8;
 position: fixed;
 display: flex;
 align-items: center;
 justify-content: space-between;
 transition: 0.5s;
 z-index: 10;
}

.top{
  background: transparent;
} 

.logo{
  display: inline-block; 
  padding: 10px 30px;
  font-weight: 400;
}

 .logo img{
    display: inline;
    /* margin-top: 10px; */
    margin-top: -10px;
} 

.logo h1{
    display: inline-block;
    font-size: 32px;
}

.menu ul{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.menu li{
  list-style: none;
  overflow-y: hidden;
}

.menu li a{
  text-decoration: none;
  color: #f4f4f4;
  padding: 0px 20px;
  margin: 0px 5px;
  font-size: large;
}

.menu li a:hover{
  border: 3px solid  #0284d0;
  border-bottom: none;
  border-top: none;
}

@media(max-width:768px){
  .navbar{
      flex-direction: column;
  }
  .menu{
      margin-top: -20px;
  }
  .menu li a{
      padding: 5px;
      margin:0 3px;
  }
  
}

/* TESTIMONIALS SECTION */

section{
  color: #333;
}

section #testimonial-head .hero-img{
  background: url("../img/clients.jpg") no-repeat center center/cover;
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.hero-img::before{
  content: "";
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  position: absolute;
  height: 50vh;
  width: 100vw;
}
.hero-img *{
  z-index: 50;
}
.hero-heading  h1{
  color: white;
  font-size: 48px;
  font-weight: lighter;
}
section #testimonial-head{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
section #testimonial-head .hero-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f1f3f8;
}
.hero-text .hero-content,
.hero-text .hero-head{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.hero-text .hero-head{
  flex: 40%;
  font-size: 38px;
  font-weight: bolder;
}
.hero-text .hero-content{
  flex: 60%;
  padding: 40px;
  line-height: 1.6;
}

.hero-head h3{
  color: #333333;
  font-size: 44.6px;
  font-weight: bold;
}

@media(max-width:768px)
{
  section #testimonial-head .hero-text{
      flex-direction: column;
  }
  .hero-text .hero-content{
      overflow: visible;
      padding: 20px;
      line-height: 1.4;
  }
  .hero-text .hero-head{
      font-size: 36px;
      overflow: visible;
      margin-top: 10px;
  }

  .hero-head h3{
      margin-top: 10px;
  }

  .hero-heading h1{
      margin-top: 30px;
  }
}

/* TESTIMONIALS */
.testimonial p {
 font-size: 30px;
 letter-spacing: 0.02em;
 line-height: 35px;
}

.testimonial .name {
 font-weight: bold;
 font-size: 22px;
 letter-spacing: 0.04em;
 line-height: 35px;
 text-align: left;
}

.testimonial .designation {
 font-size: 16px;
 letter-spacing: 0.04em;
 text-align: left;
 color: #fff;
 opacity: 0.65;
}

.gallery-thumbs {
 height: 100%;
} 

.gallery-thumbs .swiper-wrapper {
 align-items: center;
}

.gallery-thumbs .swiper-slide {
 background-position: center;
 background-size: cover;
 width: 250px !important;
 height: 330px;
 position: relative;
}

.gallery-thumbs .swiper-slide img {
 filter: contrast(0.5) blur(1px);
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 10px;
}

.gallery-thumbs .swiper-slide-active img {
 filter: contrast(1) blur(0px) !important;
}

.gallery-thumbs .swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-section .quote {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.swiper-container.testimonial {
  height: 100vh;
}

.testimonial-section .user-text {
  background: var(--dark-green);
  width: 60%;
  color: #fff;
  height: 100%;
}

.user-img {
  width: 40%;
}

.testimonial-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.testimonial-section .quote p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  font-style: italic;
  margin: 0;
}

.quote-icon {
  width: 38px;
  display: block;
  margin-bottom: 30px;
}

.text {
  background-color: white;
  color: var(--dark-green);
  font-size: 20px;
  padding: 16px 32px;
  height: 50px;
  line-height: 0.8;
  padding: 18px 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 100px;
  width: 35%;
  margin-top: 20px;
  margin-left: -10px;
  text-decoration: none;
}

.text:hover{
  background: #393b44;
  color: #ffffff;
  text-decoration: underline;
}

 @media (max-width: 576px){
  .testimonial-section .quote p {
    font-size: 15px;
    padding-left: -20px;
    width: 300px;
  }

  .testimonial-section .quote{
    margin-left: -75px;
  }

  .testimonial .name {
    font-size: 22px;
    width: 300px;
  }
   
   .testimonial .designation {
    width: 300px;
   }

   .text {
    width: 150px;
  }
}

@media (min-width: 576px) and (max-width:768px) { 

  .testimonial-section .quote p {
    font-size: 15px;
    padding-left: -20px;
    width: 300px;
  }

  .testimonial-section .quote{
    margin-left: -75px;
  }

  .testimonial .name {
    font-size: 22px;
    width: 300px;
  }
   
   .testimonial .designation {
    width: 300px;
   }

   .text {
    width: 150px;
  }
}

@media(min-width: 768px) and (max-width: 900px){
  .testimonial-section .quote p {
    font-size: 18px;
    padding-left: -20px;
    width: 450px;
  }

  .testimonial-section .quote{
    margin-left: -75px;
  }

  .testimonial .name {
    font-size: 22px;
    width: 300px;
  }
   
   .testimonial .designation {
    width: 300px;
   }

   .text {
    width: 150px;
  }
}

/* footer */
 footer{
  color: #ffffff;
}
.foot-container{
 background-color: #393b44;
 color: #ffffff;
 display: flex;
 flex-direction: row;
}
.columns{
 padding: 60px;
 text-align: center;
 line-height: 1.5;
}
.columns h4{
 margin-bottom: 10px;
 font-size: 16px;
}
.columns p{
 margin-bottom: 10px;
}
.columns button{
 background-color: #d6e0f0;
 padding: 10px 30px;
 border: 1px solid #bbe1fa;
 margin-top: 20px;
 color: #ffffff;
}

.columns button:hover{
 background-color:black;
 
}
.columns .connect{
 display: flex;
 flex-direction: column;
}
.foot-container .columns .social {
 display: flex;
 flex-direction: row;
 color: #ffffff;
 align-items: center;
 justify-content: center;
}
.foot-container .columns .social i{
 color: #ffffff;
}
.foot-container .columns .social i:hover{
  color: #9fb6cc;
}
.social-icon{
 padding: 20px;
}
.subs{
 display: flex;
 font-size: 13px;
 flex-direction: row;
}
.subs button{
 padding: 5px 5px;
 padding-bottom: 3px;
 height: 50px;
 font-size: 13px
}
.columns input{
 height: 50px;
 width: 70%;
 margin-left: 30px;
 margin-top: 20px;
 margin-right: 0;
 padding-left: 5px;
 border: 1px solid #9fb6cc;
}
.columns button{
  background-color: #d6e0f0;
  border: 1px solid #bbe1fa;
  margin-top: 20px;
  color: #ffffff;
  font-size: 13px;
}

@media(max-width:768px)
{
 .foot-container{
 flex-direction: column;
 }
 .subs button{
 margin-right:40px ;
 } 
 .columns input{
  margin-left: 40px;
 
 }
}
